tools:
  default:
    cores: 1
    mem: cores * 3.8
    gpus: 0
    params:
      metadata_strategy: 'extended'
      tmp_dir: true
      request_cpus: "{cores}"
      request_memory: "{mem}G"
      submit_request_gpus: "{gpus or 0}"
      docker_memory: "{mem}G"
    scheduling:
      reject:
        - offline

destinations:
 condor_tpv:
   runner: '{{ tpv_runner }}'
   max_accepted_cores: {{ exec_cpus }}
   max_accepted_mem: {{ exec_mem }}
   max_accepted_gpus: 0
