---
#______________________________________
## job_conf section
## Local runner configuration
## https://wiki.galaxyproject.org/Admin/Config/Performance/Cluster

- name: if proc==4
  set_fact:
    galaxy_workers: 2
    galaxy_local_slot: 2
    galaxy_registered_concurrent_jobs: 2
  when: ansible_processor_vcpus == 4

- name: if proc==8
  set_fact:
    galaxy_workers: 4
    galaxy_local_slot: 2
    galaxy_registered_concurrent_jobs: 2
  when: ansible_processor_vcpus == 8

- name: if proc>=16
  set_fact:
    galaxy_workers: 10
    galaxy_local_slot: 4
    galaxy_registered_concurrent_jobs: 2
  when: ansible_processor_vcpus >= 16

# Slurm and Clues are no more supported.
    ###- name: Check if CLUES is installed
    ###  shell: command -v clues --help >/dev/null 2>&1
    ###  register: is_elastic
    ###  ignore_errors: yes
    ###  when: galaxy_lrms == "slurm"
    ###
    ###- debug:
    ###    msg: "{{ is_elastic.rc }}"
    ###  when: galaxy_lrms == "slurm"
    ###- debug:
    ###    var: is_elastic
    ###  when: galaxy_lrms == "slurm"

- name: Copy job_conf configuration file
  template:
    src: 'galaxy/job_conf.yml.j2'
    dest: '{{ laniakea_galaxy_config_dir }}/job_conf.yml'

# TPV is enabled only for HTCondor configurations.
# This task takes executors CPUs and Ram to configure TPV condor limits.
- name: Install TPV
  pip:
    name: total-perspective-vortex==2.5.0
    virtualenv: '{{ laniakea_galaxy_venv_dir }}'
  when: galaxy_runner == 'tpv_dispatcher'

- name: Copy tpv configuration file
  template:
    src: 'galaxy/tpv_rules_local.yml.j2'
    dest: '{{ laniakea_galaxy_config_dir }}/tpv_rules_local.yml'
  when: galaxy_runner == 'tpv_dispatcher'
