---
gravity:
    celery:
        concurrency: 2
        loglevel: DEBUG
    galaxy_root: {{ laniakea_galaxy_server_dir }}
    galaxy_user: galaxy
    gunicorn:
        bind: "unix:{{ galaxy_mutable_config_dir }}/gunicorn.sock"
        extra_args: --forwarded-allow-ips="*"
        preload: true
        workers: 2
    handlers:
        handler:
            pools:
            - job-handlers
            - workflow-scheduler
            processes: 2
    process_manager: systemd
    tusd:
        enable: true
        tusd_path: /usr/local/sbin/tusd
        upload_dir: {{ database_path }}/tus
    virtualenv: {{ laniakea_galaxy_venv_dir }}

galaxy:
    admin_users: "{{ GALAXY_ADMIN_EMAIL }}" 
    allow_path_paste: true
    allow_user_creation: true
    allow_user_deletion: true
    allow_user_impersonation: true
    require_login: true
    brand: "{{ galaxy_instance_description }}"
    builds_file_path: {{ laniakea_galaxy_server_dir }}/tool-data/shared/ucsc/builds.txt.sample
    check_migrate_tools: false
    conda_prefix: {{ tool_deps_path }}/_conda
    conda_auto_install: true
    conda_ensure_channels: 'iuc,conda-forge,bioconda,bgruening' #not using defaults: https://github.com/conda/conda/issues/13238
    container_resolvers_config_file: ''
    data_dir: {{ galaxy_install_path }}/var
    data_manager_config_file: {{ laniakea_galaxy_server_dir }}/config/data_manager_conf.xml.sample
    database_connection: postgresql:///galaxy?host=/var/run/postgresql
    database_engine_option_server_side_cursors: true
    datatypes_config_file: {{ laniakea_galaxy_server_dir }}/config/datatypes_conf.xml.sample
    dependency_resolvers_config_file: {{ galaxy_install_path }}/config/dependency_resolvers_conf.xml
    enable_per_request_sql_debugging: true
    enable_quotas: true
    expose_dataset_path: true
    expose_potentially_sensitive_job_metrics: true
    expose_user_name: true
    external_service_type_config_file: {{ laniakea_galaxy_server_dir }}/config/external_service_types_conf.xml.sample
    file_path: {{ database_path }}/files
    new_file_path: {{ database_path }}/tmp
    galaxy_infrastructure_url: http://{{ ansible_default_ipv4.address }}/galaxy/
    galaxy_url_prefix: /galaxy
    install_database_connection: postgresql:///galaxy_tools?host=/var/run/postgresql
    integrated_tool_panel_config: {{ laniakea_galaxy_config_dir }}/integrated_tool_panel.xml
    job_metrics_config_file: {{ laniakea_galaxy_config_dir }}/job_metrics_conf.yml
    job_working_directory: {{ database_path }}/job_working_directory
    migrated_tools_config: {{ laniakea_galaxy_config_dir }}/migrated_tools_conf.xml
    new_user_dataset_access_role_default_private: true
    nginx_x_accel_redirect_base: /_x_accel_redirect
    object_store_store_by: uuid
    openid_config_file: {{ laniakea_galaxy_server_dir }}/config/openid_conf.xml.sample
    outputs_to_working_directory: true
    retry_job_output_collection: 3
    shed_data_manager_config_file: {{ laniakea_galaxy_config_dir }}/shed_data_manager_conf.xml
    shed_tool_config_file: {{ laniakea_galaxy_config_dir }}/shed_tool_conf.xml
    shed_tool_data_table_config: {{ laniakea_galaxy_config_dir }}/shed_tool_data_table_conf.xml
    show_welcome_with_login: true
    slow_query_log_threshold: 5
    job_config_file: {{ laniakea_galaxy_config_dir }}/job_conf.yml
    tool_data_path: {{ galaxy_install_path }}/var/tool-data
    tool_data_table_config_path: {{ tool_data_table_config_with_cvmfs }}
    tool_dependency_dir: {{ tool_deps_path }}
    tool_sheds_config_file: {{ laniakea_galaxy_config_dir }}/tool_sheds_conf.xml
    tus_upload_store: {{ database_path }}/tus
    ucsc_build_sites: {{ laniakea_galaxy_server_dir }}/tool-data/shared/ucsc/ucsc_build_sites.txt.sample
    visualization_plugins_directory: config/plugins/visualizations
    watch_job_rules: auto
    #container_image_cache_path: {{ galaxy_install_path }}/var/cache/container_cache
    #ftp_upload_dir: {{ database_path }}/ftp
    #ftp_upload_site: ftp://localhost
{% if enable_interactive_tools %}
    interactivetools_enable: true
    interactivetools_map: {{ gie_proxy.session_path }}
    tool_config_file: {{ laniakea_galaxy_server_dir }}/config/tool_conf.xml.sample,{{ laniakea_galaxy_config_dir}}/tool_conf_interactive.xml
{% else %}
    tool_config_file: {{ laniakea_galaxy_server_dir }}/config/tool_conf.xml.sample
{% endif %}
